/* buttons */

.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"] {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.8;
    padding: 0 1.5em;
    outline: none;
    border: 0;
    border-radius: 3px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
button,
input[type="button"],
input[type="submit"] {
    background-color: #2196F3;
    color: #fff;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fff;
    color: #212121;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-secondary:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* / buttons */

.border-top {
    border-top: 2px solid #2196F3;
}

.border-bottom {
    border-bottom: 2px solid #2196F3;
}

