/* Page header */

.page-header {
    margin-top: 0;
}

/* /Page Header */

.page-content {
    padding: 0px 50px;
}

/* custom-pages */

.block-title h3 {
    font-size: 1.3rem;
    margin: 15px 0 20px;
}

h3.hdl-my-service {
    margin-bottom: 0;
}

h3.hdl-my-service2 {
    margin: 15px 0 30px;
}

.ci-icon.my-service-2 i, span.glyphicon.blue-icons {
    font-size: 1.8rem;
    color: #2196F3;
    line-height: 36px;
}


.block-title h3 span {
    color: #2196F3;
}

.custom-page-content .block {
    margin-bottom: 30px;
}

.custom-page-content .page-header {
    background-color: #fff;
    border: 0;
    text-align: center;
    padding: 30px 50px;
    margin: 0;
}

.custom-page-content .page-header h2 {
    font-size: 44px;
    margin: 0;
}

.custom-page-content .page-header.color-1 {
    background-color: #2196F3;
    background-image: url(../images/sp_main_bg.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
}

.custom-page-content .page-header.color-1 h2,
.custom-page-content .page-header.color-2 h2,
.custom-page-content .page-header.color-3 h2,
.custom-page-content .page-header.color-4 h2 {
    color: #fff;
}

.custom-page-content .page-content {
    background-color: #fff;
	margin-top: 20px;
}